In [1]:
%cd "F:\Documentos\FÍSICA BIOMÉDICA\PPS"

F:\Documentos\FÍSICA BIOMÉDICA\PPS

In [48]:
#a=open('atractoresREDreducida.txt','r')
a=open('atractoresTAM.txt','r')

In [49]:
import pandas as pd

In [50]:
AS = []
for i in range(0, 1385):
    AS.append(i)
#AS

In [51]:
BS = []
for line in a:
    if "Attractor" in line:
        #print(line.split(" ")[-2])
        BS.append(line.split(" ")[-2])
#BS

In [52]:
a=open('atractoresTAM.txt','r')
Attr = []
flag = False
for line in a:
    if flag:
        if "V" in line:
            flag = False
            #print('****************************')
            continue
        #print(line.split(" ")[-4])
        Attr.append(line.split(" ")[-4])
    if "V" in line:
        flag = True
#Attr

In [53]:
def bin2dec(numero_binario):
    numero_decimal = 0 
    for posicion, digito_string in enumerate(numero_binario[::-1]):
        numero_decimal += int(digito_string) * 2 ** posicion
        
    return numero_decimal

In [54]:
De = []
for i in range(len(Attr)):
    de = bin2dec(Attr[i])
    De.append(de)
#De

In [55]:
import numpy as np

In [56]:
b=open('TAM_as.txt','r')
cont = 0
for line in b:
    cont +=1

In [57]:
cont

67108865

In [58]:
b=open('TAM_as.txt','r')
Cl = np.zeros((1385,1))
inter = np.zeros((1385,1))
flag2 = False
for line in b:
    if flag2:
        if "attractorAssignment" in line:
            flag2 = False
            print("**********")
            continue
        index = line.split(" ")[-2]
        index = int(index)
        #print(index)
        steps = line.split(" ")[-1]
        steps = int(steps)
        #print(steps)
        if  int(steps) > Cl[index]:
            Cl[index] = line.split(" ")[-1]
        if steps == 1:
            inter[index]+=1
    if "attractorAssignment" in line:
        flag2 = True

In [59]:
Cl2=[]
inter2=[]
for i in range(1,1385):
    Cl2.append(int(Cl[i]))
    inter2.append(int(inter[i]))
    
#Cl2 = Cl2[1:]
#inter2 = inter2[1:]
len(Cl2)

1384

In [60]:
len(AS),len(Attr),len(BS),len(De),len(inter2),len(Cl2)

(1385, 1384, 1384, 1384, 1384, 1384)

In [61]:
df = pd.DataFrame(list(zip(AS, Attr, BS, De,inter2,Cl2)))
df.columns=["AS","Attractor","Basin size","De","Interactions","C. + largo"]
df

,AS,Attractor,Basin size,De,Interactions,C. + largo
0,0,00000000000000000000000000,3168,0,223,2
1,1,10000000000001000000010000,9216,33558544,127,3
2,2,01000000000000000100100110,8064,16777510,127,3
3,3,11000000000001000100110110,24576,50336054,127,4
4,4,00100000000000000000000001,3168,8388609,223,2
...,...,...,...,...,...,...
1379,1379,00101000100001000100110111,11760,10621239,95,6
1380,1380,00000010100001000100110110,10464,659766,95,4
1381,1381,00100010100001000100110111,10464,9048375,95,4
1382,1382,00001010100001000100110110,11760,2756918,95,6
1383,1383,00101010100001000100110111,11760,11145527,95,6

In [62]:
df.to_csv("TAM1384.csv",index = False,encoding='utf-8')

In [ ]:
path = r"F:\Documentos\FÍSICA BIOMÉDICA\PPS\TAM78.txt"

#export DataFrame to text file
with open(path, 'a') as f:
    df_string = df.to_string(header=True, index=False)
    f.write(df_string)